.list {
    list-style: none;
    width: 400px;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
}

.item {
    display: flex;
    align-items: baseline;
    padding: 0;
    width: 400px;
    color: rgb(71, 59, 44);
}

.text {
    padding: 0;
    margin: 0;
    color: rgb(71, 59, 44);
    text-shadow: 1px 1px 2px #c0bfbf, 0 0 1em #4d3d47, 0 0 0.2em rgb(108, 108, 124);
}

.item:not(:last-child) {
    margin-bottom: 15px;
}

.btn {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
    transform: scale(1);
    font-size: 14px;
    box-shadow: 0px 7px 13px 5px rgb(24 32 26 / 62%);
    color: rgb(71, 59, 44);
}

.btn:hover {
    transform: scale(1.1);
    color: antiquewhite;
    background-color: rgb(71, 59, 44);
}

.span {

    padding: 0;
    margin: 0;
    margin-right: 10px;
}